header {
    background: #BBBBBB;
}

nav li { 
    position:absolute;
    top:110 px;
    right:0;
}

 nav li { 
    display: inline;
    marging:0 0 0 15px;
}

nav a {  
     text-transform: uppercase;
    color:#000000;
    font=weight: bold;
    fonts-size: 22px;
    text-decoration: none;
}
