header {
    background: #BBBBBB;
}

nav li { 
    display: inline;
    marging:
 nav a {
    text-transform: uppercase;
    color:#000000;
    font=weight: bold;
    fonts-size: 22px;
    text-decoration: none;
}
